<% link = 'about' %>
<section class="slider-section">
     <div class="image-placeholder">

        <div class="inner-text animated flipInX">
            <h3>Independent Career</h3>
          <span class="navs-social">
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a> &nbsp; &nbsp;
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            &nbsp; &nbsp;
            <a href="#">
                <i class="fa fa-google-plus"></i>
            </a>
          </span>
            <br/><br/>
            <a href="<%= aboutus_path %>" class="link-design"><b> Read More About Us <i class="fa fa-arrow-circle-right"></i> </b></a> <br/> <br/>
        </div>
     </div>
    <div class="col-md-3">

    </div>
    <div class="clearfix"></div>
    <div style="height: 200px;">

    </div>
</section>

<section class="content-section">

   <div class="container">

   </div>


         <div class="container">
           <center>
               <h3 class="design">Rendzina Capital Independent <br/><i class="fa fa-arrow-circle-o-down"></i></h3>
               <hr/>
               <h2 style="color: #ccc"> Under Construction </h2>
           </center>

        </div>


    </div>
</section>


<section class="testimonies-section">

    <div class="container designer" >
          <div style="margin:50px auto;" class="container">
         <center>
             <h3 class="Google-font"> Twitter Tweet </h3>
        </center>
             <p class="justify">

              &nbsp;

             </p>

          </div>
     </div>
</section>
