<% link = 'about' %>
<section class="slider-section">
     <div class="image-placeholder">

        <div class="inner-text animated flipInX">
            <h3> Careers </h3>
          <span class="navs-social">
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a> &nbsp; &nbsp;
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            &nbsp; &nbsp;
            <a href="#">
                <i class="fa fa-google-plus"></i>
            </a>
          </span>
            <br/><br/>
            <a href="#" class="link-design"><b> Read More <i class="fa fa-arrow-circle-down"></i> </b></a> <br/> <br/>
        </div>
     </div>
    <div class="col-md-3">

    </div>
    <div class="clearfix"></div>
    <div style="height: 200px;">

    </div>
</section>

<section class="content-section">

   <div class="container">

   </div>

         <div class="container">
           <center>
               <h3 class="design">Rendzina Capital Careers <br/><i class="fa fa-arrow-circle-o-down"></i></h3>
               <hr/>
					</center>
               <p>
								 	<p>If you are looking for an organization that will value, recognize and reward talent and results, if you want to help find solutions to enterprise and entrepreneurship challenges and of course you want to have fun and keep learning along the way, then Rendzina capital is the place to be.</p>

							 	<p>At Rendzina Capital, we offer opportunities for qualified people to work with us in 2 categories.</p>
							</p>

				      <center>
								<%= link_to new_associate_path, class: "btn btn-primary btn-sm" do %>
								  <b><i class="fa fa-plus"></i> Become an Associate </b>
                 <% end %>

                 <%= link_to new_consultant_path, class: "btn btn-success btn-sm" do %>
 								  <b><i class="fa fa-plus"></i> Join as an Independent Consultant </b>
                  <% end %>

							</center>
        </div>

				<br/>


    </div>
</section>


<section class="testimonies-section">

    <div class="container designer" >
          <div style="margin:50px auto;" class="container">
         <center>
             <h3 class="Google-font"> Twitter Tweet </h3>
        </center>
             <p class="justify">

              &nbsp;

             </p>

          </div>
     </div>
</section>
