<section class="whatwedo">
	<h2><center>What We Do - Social Networking</center></h2>

		<p>The Rendzina Capital has as one of its principal functions the art of creating networking events that help entrepreneurs increase their businesses through structured, positive and professional events that enable them develop long-term, meaningful relationships with quality business professionals.</p>

		<p>Successful businesses thrive alot on word-of-mouth advertising which is still one of the best forms of advertising and our networking events and programs are designed to provide platforms for engaging with industry professionals.</p>

		<p>Here, we dont only network people, we network skills to enhance capabilities, we network opportunities to increase business velocity and we network knowledge to accelerate progress.</p>

		<p>When we network people, we do so with a passionate resolve to connect them across geographical and professional boundaries and diversities, we attempt to break psychological limitations so we may create a borderless environment for business interactions.</p>

		<p>In our approach to this, we organize the following events and programs </p>
		<ul>
			<li>Conferences</li>
			<li>Exhibitions</li>
			<li>Seminars</li>
			<li>Webinars</li>
			<li>Chambers of trade and commerce Business Networking</li>
			<li>Breakfast Networking Clubs</li>
			<li>Professional Bodies meetings</li>
			<li>Community Town Hall Meetings</li>
			<li>Speed Networking</li>
			<li>Lectures and Talks</li>
			<li>Universities and Colleges Entrepreneurial Events</li>
			<li>Conventions</li>
			<li>Festival and Shows</li>
			<li>Foreign Trade Visits</li>
		</ul>

</section>