<% link = 'about' %>
<section class="slider-section">
     <div class="image-placeholder">

        <div class="inner-text animated flipInX">
            <h3> What we do </h3>
          <span class="navs-social">
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a> &nbsp; &nbsp;
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            &nbsp; &nbsp;
            <a href="#">
                <i class="fa fa-google-plus"></i>
            </a>
          </span>
            <br/><br/>
            <a href="#" class="link-design"><b> Read More About Us <i class="fa fa-arrow-circle-right"></i> </b></a> <br/> <br/>
        </div>
     </div>
    <div class="col-md-3">

    </div>
    <div class="clearfix"></div>
    <div style="height: 200px;">

    </div>
</section>

<section class="content-section">

   <div class="container">

   </div>

         <div class="container">
           <center>
               <h3 class="design">Technology <br/><i class="fa fa-arrow-circle-down"></i></h3>
               <hr/>
					</center>
              <p>
								&nbsp;&nbsp;Every company’s technology apparatus should support its business strategy and not constrain it. We have our focus first on the strategic needs of our client’s businesses to determine the technology capabilities needed to support their long-term goals. We help companies confidently address technology-related decisions and ensure their IT departments and operating models are agile and efficient, empowering them to create satisfactory results.
							</p>
<p>We are a strong advocate of using technology (IT to be specific) as an enabler of business model innovation. It’s important to understand that innovation is not limited to technological innovations by high-tech companies, but also includes marketing innovation, management innovation, process innovation, and product innovation. To put it simply, regardless of what business or industry you are in, if you are trying out different ways of doing things in your business and not following the conventional wisdom, then you are innovating your business model. </p>
<p>
We want to inspire our clients and people around us on how businesses can use technology to transform their business models and enhance their business value.
</p>
<p>
 In the market where we are located, technology awareness is still relatively low, and there are many who are still skeptical about the wonders that the technology can do for their business. Fair enough, that gives us more reasons to find good examples and powerful solutions to share.
Businesses are all built on the power of technology. In order to participate in today's connected society, people need access to tools-computers, software, the Internet, the social media-and the training to utilize those tools to their best advantage.</p>

<h4 class="design">Creative Web Design</h4>
<p>
Our Web design encompasses many different skills and disciplines in the production and maintenance of websites. We focus strength in areas of web design which include; web graphic design, interface design, authoring; including standardized code and proprietary software, user experience design and search engine optimization. Often we work in teams covering different aspects of the design process.</p>
<p>
When designing a website, there are a number of different styles we adopt to get the message of a brand across effectively to customers, users or readers. We like to think that we have extensive knowledge and experience across most areas of Graphic Design and Web Development, so much so that we are certain that we have a recipe that cannot be paralleled and gives us the platform to develop superior websites to all our clients.
</p>

<h4 class="design">Enterprise Application development</h4>
<p>
Enterprise application development is the development of a software product and the integration of the same into an organization’s processes. The need for better quality control of the software development process has given rise to the discipline of software engineering, which aims to apply the systematic approach exemplified in the engineering paradigm to the process of software development and we ensure that this is properly integrated into the design and construction process to produce a product rendering services we are glad to be associated with.</p>
<p>
We take a more structured, engineering-based approach to developing business solutions, whereas others may take a more incremental approach, where software evolves as it is developed piece-by-piece. Most methodologies share some combination of the following stages of software development: </p>

<p><i class="fa fa-check"></i>Analyzing the problem</p>
<p><i class="fa fa-check"></i>Market research</p>
<p><i class="fa fa-check"></i>Gathering requirements for the proposed business solution</p>
<p><i class="fa fa-check"></i>Devising a plan or design for the software-based solution</p>
<p><i class="fa fa-check"></i>Implementation (coding) of the software</p>
<p><i class="fa fa-check"></i>Testing the software</p>
<p><i class="fa fa-check"></i>Deployment</p>
<p><i class="fa fa-check"></i>Maintenance and bug fixing</p>
<p>These stages are often referred to collectively as the software development lifecycle, or SDLC. Different approaches to software development may carry out these stages in different orders, or devote more or less time to different stages.
In order to ensure that software can evolve in a way that maintains its inherent multidimensionality, we ensure that the different dimensions evolve together in a consistent manner.</p>

<h4 class="design">Social Media Optimization</h4>
<%= image_tag "social", width: "100%" %><p>Social media optimization (SMO) refers to the use of a number of social media outlets and communities to generate publicity to increase the awareness of a product, brand or event. Types of social media involved include RSS feeds, social news and bookmarking sites, as well as social networking sites, such as Twitter, and video and blogging sites.
 SMO is similar to search engine optimization in that the goal is to generate traffic and awareness for a website. In general, social media optimization refers to optimizing a website and its content in terms of sharing across social media and networking sites.</p>

<p>One of the things we do best at Rendzina LTD is effective Social Media Optimization for Businesses who cannot afford the time and manpower to carry it out as skillfully as we would.</p>
</p>Social Media Optimization is becoming increasingly important for search engine optimization, as search engines are increasingly utilizing the recommendations of users of social networks such as Facebook, Twitter, and Google+ to rank pages in the search engine result pages. The implication is that when a webpage is shared or "liked" by a user on a social network, it counts as a "vote" for that webpage's quality.</p>

 <h4 class="design">Database Management</h4>
 <p>Database Management System (DBMS) is a set of programs that enables organizations to store, modify, and extract information from a database, it also provides users with tools to add, delete, access, modify, and analyze data stored in one location.</p>
<p>Our DBMS solutions also provide the method for maintaining the integrity of stored data, running security and users access, and recovering information if the system fails.
We are adept at creating DBMS solutions which also include graphical component that enables you to output information in the form of graphs and charts.
Database and database management system are essential to all areas of business, they must be carefully managed.
 At Rendzina LTD, we commit to professional excellence and deliver superior results. </p>

<h4 class="design">Technology Hardware and Software Fulfillment Services</h4>
<p>
At Rendzina LTD we sell and support the infrastructure products of the leading industry manufacturers including Hewlett Packard, Lenovo, Toshiba, 3Com, APC, Cisco, Panasonic, Computer Associates, Symantec, Network Associates as well as many others.
With a focus on promptly presented quotations and automated order tracking, Rendzina  provides product solutions to many profiled and leading Nigerian companies.

							</p>

        </div>

				<br/>


    </div>
</section>


<section class="testimonies-section">

    <div class="container designer" >
          <div style="margin:50px auto;" class="container">
         <center>
             <h3 class="Google-font"> Twitter Tweet </h3>
        </center>
             <p class="justify">

              &nbsp;

             </p>

          </div>
     </div>
</section>
