
    <div class="container">

        <div class="col-md-3">

            <ul class="footer-links">
                <li>
                    <b> Company </b>
                </li>
                 <li>
                    <a href="#"> Services</a>
                </li>
                <li>
                    <a href="#"> About Us </a>
                </li>
                <li>
                    <a href="#"> Our Blog </a>
                </li>
                <li>
                    <a href="#"> Support </a>
                </li>


            </ul>
        </div>

        <div class="col-md-3">

            <ul class="footer-links">
                <li>
                    <b>Careers </b>
                </li>
                <li>
                    <a href="#"> Jobs </a>
                </li>
                <li>
                    <a href="#"> Associate </a>
                </li>
                <li>
                    <a href="#"> Independent </a>
                </li>
                <li>
                    <a href="#"> Contact Us </a>
                </li>

            </ul>
        </div>

        <div class="col-md-5">

            <ul class="footer-links">
                <li>
                    <b> <i class="fa fa-info-circle"></i> Contact Us </b>
                </li>
                <div>

                    <form>
                        <div class="col-md-6">
                          <label> Full Name </label>
                          <input type="text" class="form-control" name="fname"/>
                        </div>
                        <div class="col-md-6">
                          <label> Email Address </label>
                          <input type="text" class="form-control" name="email" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                        <label> Content </label>
                        <textarea class="form-control" name="content"></textarea>
                        <br/>
                        <button class="btn btn-success btn-sm pull-right"><i class="fa fa-send-o"></i> Send</button>

                        </div>
                    </form>
                </div>

            </ul>

        </div>

        <div class="clearfix"></div>
    </div>

    <div class="bg-color-black">

        <center>
            <small><b class="base-footer"> Powered By Rendzina Capital </b></small>
        </center>
    </div>
