<?php defined('BASEPATH') OR exit('No direct script access allowed'); ?>

<!DOCTYPE HTML>
<html> 
    <head>
        <title> Welcome to Official Website of Rendzina </title>
        
   
        <?php
          //print link_tag('css/vendor/bootstrap.min.css');
          print link_tag('css/vendor/bootstrap.min.css');
          print link_tag('css/vendor/bootflat.min.css');
          print link_tag('css/vendor/font-awesome.min.css');
          print link_tag('css/vendor/animate.css');
          print link_tag('css/vendor/css/styles.css');
          
        ?>
        
       <script src="scripts/jquery.1.11.js"></script>
          <script src="scripts/pureSlider.js"></script>
    </head>    
    <body>
        
    